* {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
section.header_content {
    height: 100px;
    color: white;
    background-color: rgb(89, 89, 89);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

ul {
    display: flex;
    background-color: black;
    color: black;
    justify-content: space-around;
    padding: 20px;
}

a {
    color: white;
}

div {
    height: 300px;
    display: grid;
    grid-template: 300px / auto 500px;
}
section.main_content {
    background-color: rgb(177, 175, 175);
    padding: 15px;
}
section.aside_content {
    background-color: white;
    padding: 15px;
}

section.footer_content {
    background-color: rgb(89, 89, 89);
    height: 200px;
    padding: 15px;
    text-align: center;
    color: white;
    text-decoration-line: none;
}