
* {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}
header, main, footer {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}
header {
    background-color: rgb(0, 131, 245);
    display:flex;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
    flex-wrap: wrap;
    border-radius: 10px;
}

header p {
    font-weight: 600;
}
header p, a {
    color: black;
    text-decoration: none;
}
nav ul {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    flex-wrap: wrap;
}
header a {
    border: 2px solid black;
    padding-bottom: 5px;
    padding-top: 5px;
    padding: 5px 20px;
}

header a:hover {
    background-color: gray;
    color: white;
    text-decoration: underline;
}

main {
    text-align: center;
    margin: 0 auto;
}

#templeContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 4rem;
    padding: 4rem;
}
.temple-card {
    border: 5px solid #ccc;
    border-radius: 8px;
    padding: 1rem;
    width: 100%;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    background-color: rgb(0, 131, 245);
}
.temple-card img {
    width: 100%;
    border-radius: 6px;
}
.active-link {
  background-color: rgb(150, 142, 142);
}


@media (max-width: 600px) {
        .figures {
        grid-template-columns: 1fr !important;
        }
        #menu {
	    font-size: 1.5rem;
	    border: 0;
	    background: none;
	    color: #000;
 	    position: absolute;
	    margin-top: auto;
	    margin-right: auto;
        }

        #menu::before {
	    content: "☰";
        }

        #menu.open::before {
	    content: "X";
        }

        .open a {
	    display: block;
        }
        a {
            display:none;
        }
}

body {
    background-color: gray;
}

footer {
    background-color: rgb(0, 131, 245);
    text-align: center;
    padding: 1px;
    font-weight: 500;
    border-radius: 10px;
}

