:root {
    --pink: #D5EB96;
    --cerulean_blue: #2565AE;
    --prussian_blue: #00264D;
}

* {
    max-width: 98%;
    margin-left: auto;
    margin-right: auto;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
.hero img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
}
header, footer {
    background-color: var(--prussian_blue);
    color: white;
    text-align: center;
    padding: 10px;
}
main {
    background-color: var(--pink);
}
.data, .weather {
    text-align: center;
    padding-bottom: 1px;
}
.weather img {
    width: 10%;
}
footer {
    margin-top: 0px;
}
.weather-title::after {
    content: "";
}
@media screen and (min-width: 1000px)
{
    .data, .weather {
        position: absolute;
        background-color: var(--pink);
        padding: 0px 50px 20px 50px;
        border-radius: 10px;
    }
    .data {
        top: 200px;
        left: 100px;
        
    }
    .weather {
        bottom: 1px;
        right: 100px;
    } 
    .weather img {
        display: none;
    }
    .weather h2, .data h2 {
        background-color: var(--cerulean_blue);
        width: 150px;
        height: 50px;
        font-size: 25px;
        border-radius: 10px;
    }
    .weather-title::after {
        content: " ⛅";
    }
}